@use '../util' as *;

.search-section {
    margin-top: rem(100);
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input-search {
    height: rem(50);
    min-width: rem(500);
    border: none;
    @include glass;
    @include breakpoint-down(medium) {
        min-width: rem(300);
    }
    @include breakpoint-down(small) {
        min-width: rem(200);
    }
    @include breakpoint-down(xsmall) {
        min-width: rem(100);
    }
    @include breakpoint-down(phone) {
        min-width: rem(80);
    }
    @include breakpoint-down(small-phone) {
        min-width: rem(60);
    }
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
.button {
    @include glass;
    height: rem(50);
    min-width: rem(150);
    border: none;
    @include breakpoint-down(medium) {
        min-width: rem(130);
        max-width: rem(130);
    }
    @include breakpoint-down(small) {
        min-width: rem(120);
        max-width: rem(120);
    }
    @include breakpoint-down(xsmall) {
        min-width: rem(90);
        max-width: rem(90);
    }
    @include breakpoint-down(phone) {
        min-width: rem(70);
        max-width: rem(70);
    }
    @include breakpoint-down(small-phone) {
        min-width: rem(50);
        max-width: rem(50);
    }
    &.left {
        border-radius: rem(10) 0 0 rem(10);
    }
    &.right {
        border-radius: 0 rem(10) rem(10) 0;
    }
}
.button:hover {
    cursor: pointer;
}
.button:active {
    background: var(--main-fill-color);
    color: var(--main-border);
}
